<!DOCTYPE html>
<!--100184699-->
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://www.google.com/recaptcha/api.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/signin.css">

    <title> Towner Hale's Website</title>
</head>

<body class="text-center">
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="../">Towner Hale's Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../">Home</a>
            </li>

            {% if session['logged_in'] == True %}
            <li class="nav-item">
                <a class="nav-link" href="/post">Post</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/register">Register</a>
            </li>
            {% endif %}

            {% if session['admin'] == True %}
            <li class="nav-item">
                <a class="nav-link active" href="/admin">Admin</a>
            </li>
            {% endif %}

            {% if session['logged_in'] == True %}
            <li class="nav-item">
                <a class="nav-link" href="/account">Account</a>
            </li>
            {% endif %}


            {% if session['logged_in'] == True %}
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="/login">Login</a>
            </li>
            {% endif %}

        </ul>

        {% if session['logged_in'] == True %}
        <span class="navbar-text" style="margin-right: 2em;">
                Greetings {{session.sessionEmail}}
            </span>
        {% endif %}

        <form class="form-inline mt-2 mt-md-0" action="search" method="post">
            <input type="text" id="inputSearch" name="inputSearch" class="form-control mr-sm-2" placeholder="Search"
                   required>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% else %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{message}}

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<form class="form-signin" action="SQL_GetUsers" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">View users</button>
</form>

<form class="form-signin" action="SQL_DeleteUser" method="post">
    <label for="inputEmailDelete" class="sr-only">Email</label>
    <input type="email" id="inputEmailDelete" name="inputEmailDelete" class="form-control" placeholder="Email" required
           autofocus>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="g-recaptcha" data-sitekey="6Lcz8XwUAAAAANh-YD_ie9aPHZ1gV2FyYWR1PXH1"></div>
    <button class="btn btn-lg btn-danger btn-block" type="submit">Delete user by email</button>
</form>

<form class="form-signin" action="SQL_DeleteUserByID" method="post">
    <label for="inputIDDelete" class="sr-only">ID</label>
    <input type="number" id="inputIDDelete" name="inputIDDelete" class="form-control" placeholder="ID" required
           autofocus>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="g-recaptcha" data-sitekey="6Lcz8XwUAAAAANh-YD_ie9aPHZ1gV2FyYWR1PXH1"></div>
    <button class="btn btn-lg btn-danger btn-block" type="submit">Delete user by ID</button>
</form>

<form class="form-signin" action="SQL_GetAdmins" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">View admins</button>
</form>

<form class="form-signin" action="SQL_AddAdmin" method="post">
    <label for="inputEmailAdmin" class="sr-only">Email</label>
    <input type="email" id="inputEmailAdmin" name="inputEmailAdmin" class="form-control" placeholder="Email" required
           autofocus>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="g-recaptcha" data-sitekey="6Lcz8XwUAAAAANh-YD_ie9aPHZ1gV2FyYWR1PXH1"></div>
    <button class="btn btn-lg btn-success btn-block" type="submit">Admin user</button>
</form>

<form class="form-signin" action="SQL_DeleteAdminByID" method="post">
    <label for="inputIDDeleteAdmin" class="sr-only">ID</label>
    <input type="number" id="inputIDDeleteAdmin" name="inputIDDeleteAdmin" class="form-control" placeholder="ID"
           required autofocus>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="g-recaptcha" data-sitekey="6Lcz8XwUAAAAANh-YD_ie9aPHZ1gV2FyYWR1PXH1"></div>
    <button class="btn btn-lg btn-danger btn-block" type="submit">Delete admin by ID</button>
</form>

<form class="form-signin" action="SQL_TrumpReview" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Trump review</button>
</form>
</body>
</html>